body{
    margin:10;
    max-width:340px;
    color:#c8c8c8;
    background-color:#000000!important}
img{
    display:block;
    margin:0 auto;
    max-width:340px;
    height:auto!important}
